* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Lato',sans-serif;
}

/* Navbar Start */
#navbar {
    background: white;
}

#logo {
    font-size: 36px;
    font-weight: 550;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}

#logo span {
    color: orange;
}

.navbar-toggler span {
    color: orange;
}

.navbar-nav {
    margin-left: 20px;
}

.nav-item .nav-link {
    color: black;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px; /* Letter spacing */
    border-radius: 3px;
    transition: 0.5s ease;
}

.nav-item .nav-link:hover {
    background: orange;
    color: white;
}

#navbar form button {
    background: orange;
    color: white;
    border: none;
}
/* Navbar End */
/*Home Section Start */

.home {
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('images/images (5).jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.home .content{
    text-align: center;
    padding-top: 200px;
}
.home .content h5{  
    /* chi toi muc tai the */
    color:white ;
    font-size: 38px;
    font-weight:500 ;
    text-shadow: 0px 1px 1px black ;
}
.home .content h1{
    color:white ; 
    font-size: 70px ;
    font-weight:600 ; 
    text-shadow: 0px 1px 1px black;
    margin-top: 5px ;
}
.home .content p{
    color:aliceblue;
    font-size:15px ; 
    font-weight: 600 ; 
    text-shadow: 0px 1px 1px black ;
    margin-bottom: 30px ; 
    margin-top : 5px ; 

}
.thaydoi_noidung::after{
    content: ' ';
    color:orange;
    text-shadow: 0px 1px 1px black ;
    animation: thaychu 10s infinite linear ;
}
@keyframes thaychu{
    /* đúng y là chèn sau nhé kk  */
    0%{content:"France";}
    10%{content:"Spain";}
    20%{content:"United States";}
    30%{content:"China";}
    40%{content:"Japan";}
    50%{content:"Vietnam";}
    60%{content:"Italia";}
    70%{content:"Mexico";}
    80%{content:"India";}
    90%{content:"Singapore";}
    100%{content:"Australia";}
    /* 0%{content:"France";}
    0%{content:"France";}
    0%{content:"France";} */
}
.home .content a{
    padding:10px ; 
    background: white;
    color:black;
    letter-spacing:  2px ;
    font-weight:550 ;
    border-radius: 5px;
    text-decoration: none ;
    transition: 0.5s;
}
.home .content a:hover{
    background: orange;
    color:aliceblue;
}
@media (max-width:850px){   
    /* theo thiết bị  */
    .home{
        background-position: 50% ;
    }
}
@media (max-width:450px){   
    /* kể cả thay luôn cỡ chữ  */
    .home .content h5{
       font-size:25px ; 
    }
    .home .content h1{
       font-size:38px;
    }
    .home .content p{
        font-size: 13px
    }
}
/*Home Section End */
/* Phần Lựa Chọn lấy thông tin  */
.book {
    background: white;
    padding: 50px;
}
.main-text h1{
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight:600 ;
}
.main-text h1 span{
    color:orange ;
}
.book .card{
    border-radius:10px ;
    text-shadow: 0px 5px 5px -6px black;
}
.book .row{
    margin-top:30px ;
}
.book form input{
    padding:10px ; 
    color:black ; 
    border:none ; 
    outline: none ; 
    font-size:15px ; 
    border-radius: 10px ; 
    box-shadow: 0px 5px 5px -6px black ;
}
.book form textarea{
    border: none ;
    border-radius: 10px ;
    resize: none ;
    box-shadow: 0px 5px 5px -6px black ;
    height:200px ;
}
.book .submit{
    width: 160px ;
    font-size: 16px ;
    font-weight:550 ;
    background: orange;
    color:white ; 
    margin-top: 10px ;
    transition: 0.5s;
}
.book .submit:hover{
    width: 170px ; 
}
@media (max-width:760px) {
    .book {
        padding:0 ;
    }
    .main-text h1{
        padding:20px ; 

    }
}
/* Phần Section ngôi sao, mình đặt phòng */
.main-txt h1{
    text-align: center;
    margin-top:30px; 
    font-weight:600 ; 
    text-shadow: 0px 1px 1px black;
}
.main-txt h1 span{
    color:orange ;

}
.packages .card{
    border-radius: 5px ;
    border:none ; 
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    /* cách để mọi cái card đều bằng nhau */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Đảm bảo .row sử dụng Flexbox */
.row {
    display: flex;
    flex-wrap: wrap;
} 
/* Flex-grow cho .card-body để chiếm toàn bộ không gian */
.card-body {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
/* Đảm bảo các cột có chiều cao bằng nhau */
.col-md-4 {
    display: flex;
    margin-bottom: 30px;
}
.packages .card img{
    border-radius: 5px ;
}
.packages .card .card-body{
    background: transparent;
}
.packages .card .card-body h3{
    font-size: 25px;
    font-weight:600;
}
.packages .card .card-body p{
    font-size: 15px;
}
.checked{
    color:orange ; 
}
.star i{
    font-size:15px;
}
.packages .card .card-body h6{
    font-size:20px;
}
.packages .card .card-body a{
    padding: 10px;
    text-decoration: none ;
    background: orange;
    color:aliceblue ; 
    border-radius: 5px;
}

/* Section Services Package */
.services{
    background: white;
    margin-top:50px;
}
.services .card{
   
    border:none ; 
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    cursor: pointer;
}
.services .card i{
    font-size: 40px;
    color:orange ;
    margin-right: 10px;
    text-align: center;
}
.services .card .card-body h3{
    font-weight:600 ;   
}
.services .card .card-body{
    text-align: center;
}
.services .card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


/* Phần gallary  */

.gallary{
    margin-top:50px;
}
.gallary .card{
    border-radius:10px ; 
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    cursor: pointer;
}
.gallary .card img{
    border-radius: 10px ;
    transition: 0.5s;
}
.gallary .card img:hover{
    transform: scale(1.2);

}
/* Phần About */
.about{
    background: white;
    /* margin-top:50px; */
    padding:50px ;
}
.about .card{
    border-radius:10px ; 
}
.about .card img{
    border-radius: 10px;
}
.about h2{
    font-weight: 600;
    letter-spacing: 1px;
}
.about p{
    font-weight:500;
}
#about-btn{
    width: 150px;
    height: 38px;
    border: none;
    border-radius:5px;
    background: orange;
    color:aliceblue;
    letter-spacing: 2px;
    font-weight: 550;
    transition: 0.5s ease ; 
    cursor: pointer;
}
#about-btn:hover{
    width:170px;
}
@media (max-width:760px) {
    .about{
        padding:0px ; 
    }
   
}
/* video */ 
.video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: transparent;
   
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.container-fluid {
    padding: 0 20px;
}

.responsive-iframe {
    width: 90%;
    height: 80vh; /* Để video cao 80% chiều cao màn hình */
    border: none;
}
.video .main-txt{
    text-align: center;
    margin-top:30px;
    font-weight:600 ;
    text-shadow: 0px 1px 1px black;
    color:rgb(20, 19, 18) ;
    letter-spacing: 1px;
    font-size: 25px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    
}
.video .main-txt span{
    color:orange ;
}



/* top 10 */ /* Top 10 Most Beautiful Places Section */
.top-10-places {
    margin-top: 50px;
    text-align: center;
    
}

.places-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: transparent;
   
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.places-table {
    width: 90%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.places-table th,
.places-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.places-table th {
    background-color: #f2f2f2;
}

.places-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.places-table tbody tr:hover {
    background-color: #ddd;
}

  .places-table .main-txt{
    text-align: center;
    margin-top:30px;
    font-weight:600 ;
    text-shadow: 0px 1px 1px black;
    color:rgb(20, 19, 18) ;
    letter-spacing: 1px;
    font-size: 25px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    
}
.places-table .main-txt span{
    color:orange ;
}




/* Map*/


/* Footer */

#footer{
    width:100%;
    margin-top: 100px;  /* cao quá */
    text-align: center;
    background: white;

}
#footer h1{
    font-weight:600;
    padding-top: 30px;
    text-shadow: 0px 0px 1px black;
}
#footer h1 span{
    color:orange ;
}
.social-link i {
   padding: 10px;
   border-radius:5px ;
   font-size: 20px;
   background: black;
   color: aliceblue;
   margin-left: 10px;
   margin-bottom:10px;
   transition: 0.5 ease;
   cursor: pointer;
}
.social-link i:hover{
    background: orange;
}









